
/**
 * Personal Library
 *
 * Author: Kenny Fang
 * 
 * Email: kuinai.fang@gmail.com
 * LinkedIn: https://ca.linkedin.com/in/kuinaifang
 * 
 * All Rights Reserved
 * 
 */



.arrowContainer {
	
	position: absolute;  
	
	width: 100px; 
	height: 20px; 
	
	background: black;
	
	orient
}

.theArrowLine {
	
	stroke: #C6D9F1; 
	stroke-width: 1.25px; 
	
	fill: none; 
	marker-end: url(#theArrowTipMarker);
}






